<div>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="texto">
      <mat-form-field class="example-full-width" appearance="fill">
          <input 
          matInput 
          formControlName="nombre"
          type="text"
          required
          >
      </mat-form-field>

      <button mat-raised-button type="button" (click)="adicionar()" disabled="form.invalid">Adicionar</button>
    </div>


    <div class="column2" formArrayName="pasatiempos">
      <div *ngFor="let s of pasatiemposO.controls; let i = index " class="check">

        <mat-checkbox type="checkbox" class="example-margin" [formControlName]="i">{{ name }}</mat-checkbox>

      </div>
      <button type="button" mat-raised-button color="warn" class="btneliminar" (click)="eliminarCheck(this.pasatiemposO.value.i)">Eliminar</button>

      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput cols="30" rows="10" disabled>{{ datos }}</textarea>
      </mat-form-field>
    </div>

    <div class="btnlimpiar">
      <button type="button" (click)="vaciarcaja()" mat-raised-button>Limpiar</button>
    </div>

    <div class="btnguardar">
      <fieldset>
        <legend>Acciones</legend>
        <button mat-raised-button (click)="guardar()">Guardar</button>
      </fieldset>
      
    </div>


  </form>
</div>