*{
  margin: 5px;
  width: 100%;
}

.texto{
  width: 15%;
  flex-direction: column;
  float: left;
}

.texto button{
  width: 75%;
}

.text{
  margin-bottom: 15px;
}

.column2{
  width: 25%;
  float: left;
  margin-left: 50px;
}

.check{
  float: left;
}

.btneliminar{
  width: 30%;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btnlimpiar, .btnguardar{
  width: 10%;
  float: left;
}

.btnlimpiar{
  margin-top: 150px;
  margin-left: 20px;
}

fieldset{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.263);
}

.check{
  width: 60%;
}