<div class="sidebar">
  <a [routerLink]="['form1']" routerLinkActive="active">Formulario 1</a>
  <a [routerLink]="['form2']" routerLinkActive="active">Formulario 2</a>
  <a [routerLink]="['form3']" routerLinkActive="active">Formulario 3</a>
  </div>
  